<form method="post">
    {% csrf_token %}
    <h5> <body>
      <div class="container">
        <form action="#">
          <div class="title">Register</div>
          <form action="register.php" method="POST"></form>
          <br>
          <div class="input-box underline">
            <input type="text" name="username" placeholder="Enter Your Username" required="">
            <div class="underline"></div>
          </div>
          <div class="input-box">
            <input type="password" name="password" placeholder="Enter Your Password" required="">
            <div class="underline"></div>
          </div>
          <!-- <div class="input-box button">
            <input type="submit" name="" value="Login">
          </div> -->
          <div class="fix-4-12">
            <input type="submit" class="button wide blue gradient ae-10 margin-top-1 cropBottom" value="Register">
          </div>
        </form>